.home {
  display: flex;
  justify-content: space-between;
}

.main {
  width: 400px;
}

app-random-countries {
  margin-top: 20px;
}

.input-country {
  margin: 15px;
  font-size: x-large;
}
input {
  margin-left: 15px;
  width: 300px;
}
